/* line 1, app/assets/stylesheets/components/base.sass */
body {
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  color: #393939;
  background-color: #F2F2F2;
}

/* line 7, app/assets/stylesheets/components/base.sass */
.container {
  min-height: calc(100vh - 56px);
  background-color: white;
}

/* line 12, app/assets/stylesheets/components/base.sass */
.navbar a.navbar-brand > .text {
  position: relative;
  top: 3px;
  font-weight: normal;
  color: #8e8e8e;
  font-size: 18px;
  margin-left: 4px;
}

/* line 3, app/assets/stylesheets/components/transitions.sass */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .4s;
}

/* line 6, app/assets/stylesheets/components/transitions.sass */
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* line 1, app/assets/stylesheets/components/category_search.sass */
#selecting-category {
  position: fixed;
  top: 6px;
  right: 12px;
  z-index: 2;
  padding: 8px 20px 12px;
  border-radius: 6px;
  border: 1px solid #CCC;
  background-color: white;
}

/* line 10, app/assets/stylesheets/components/category_search.sass */
#selecting-category > div {
  margin-bottom: 24px;
}

/* line 12, app/assets/stylesheets/components/category_search.sass */
#selecting-category p {
  height: 4px;
}

/* line 15, app/assets/stylesheets/components/category_search.sass */
.search-wrapper {
  text-align: center;
}

/* line 17, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .no-search-results {
  font-size: 17px;
  color: #5B5B5B;
  margin-top: 120px;
}

/* line 21, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-form {
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #D9D9D9;
}

/* line 25, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-form .el-autocomplete {
  margin-bottom: 10px;
}

/* line 27, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-form .el-autocomplete > .el-input > .el-input__inner {
  width: 60vw;
  max-width: 540px;
  min-width: 400px;
  border: 1px solid #BEC4D0;
}

/* line 32, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-form p {
  font-size: 13px;
  color: #9EA3AE;
}

/* line 35, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #EEE;
}

/* line 39, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .loading-listings {
  margin-top: 110px;
  color: #888;
}

/* line 42, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .no-listings {
  font-size: 16px;
  margin-top: 72px;
}

/* line 45, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .no-listings p > a {
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

/* line 49, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .no-listings p > a:hover {
  text-decoration: none;
}

/* line 51, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .breadcrumb-item a,
.search-wrapper .search-results .listings > .listing {
  cursor: pointer;
}

/* line 54, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .breadcrumb-item a {
  color: #424141;
  text-decoration: underline;
}

/* line 57, app/assets/stylesheets/components/category_search.sass */
.search-wrapper .search-results .listings > .listing {
  font-size: 16px;
  color: #4796bd;
  margin-bottom: 4px;
  padding: 10px 0;
  border-radius: 4px;
  border-bottom: 1px solid #d0e8e8;
  background-color: #f4f9fd;
}

/* line 67, app/assets/stylesheets/components/category_search.sass */
#category-details-modal .el-dialog {
  max-width: calc(100vw - 20px);
  width: 480px;
}
